/*
Colors from (dark) Solarized : http://ethanschoonover.com/solarized
*/

#page-body {
  background-color: #002b36;
  color: #839496;
}

#page-body a {
  color: #839496;
  text-decoration: underline;
}

#side-panel {
  background-color: #002b36 !important;
  color: #839496;
}

#side-panel a {
  color: #839496;
}
